.bg_wrapper {
    height: 600px;
    width: 600px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    text-align: center;
    /* height: 50%; */
    width: 50%;
    font-size: 1.25em;
    background-color: yellowgreen;
    padding: 1em;
    border-radius: 3em;
    border: .5em solid  whitesmoke;
    margin-bottom: .5rem;
}
h1, p {
    border-radius: 1em;
    color: whitesmoke;
    border: .125em solid  whitesmoke;
}
h1 {
    border-radius: .5em;
}
/* shitteeet */